.contactform{
    width: 90%;
    display: block;
    text-align: center;
    margin: 40px;
    background-color: #30354B;
    padding: 60px;
    border-radius: 28px;
    color: #fff;
}

.contactform div{
    margin: 20px;
}

.formlabel{
    display:inline-block;
    margin: 20px;
    width: 100%;
}


.contactforms tr td{
    width: 50%;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.contactforms {
    width: 50%;
    border: 1px solid #fff;
    border-radius: 12px;
    margin: auto;
}
.contactforms tr td input{
    padding: 5px 0px;
}
