
.wcards{
    width: 100%;
    height: auto; 
}

.wcard{
    
    margin: 3% 2%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 20.0%;
    border-radius: 40px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
    border: 2px solid #1F253F;
}

.wcard:hover{
    box-shadow: 0px 30pxpx 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05, 1.05);
}
.wcard__img{
    width: 100%;
    border-radius: 38px 38px 0px 0px;
}
.wcard__info{
    padding: 20px 0px;
    text-align: center;
    /* background-color: #EFF3FA;
    border-radius: 0px 0px 40px 40px; */
}
.wcard__title{
    padding-bottom: 20px;
    color: #dd1111;
}
.wcard__salary{
    font-weight: 300;
    padding-bottom: 20px;
}
.wcard__name{
    font-weight: 600;
    padding-bottom: 20px;
}
.wservice-btn{
    padding: 5px 15px !important;
}
.wcard__des{
    padding: 0px 8px;
    margin-bottom: 20px;
}

